<header class='container'>
    <nav class='nav-wrapper'>
        <ul class='nav-list-wrapper'>
            <li>
                <a href="/">Blog</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/newsletter">Newsletter</a>
            </li>
            <% if(email){ %>
            <li>
                <a href="/blogs/new-post">New Post</a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>
            <% } %>
        </ul>
    </nav>
</header>