<header class='container'>
    <nav class='nav-wrapper'>
        <ul class='nav-list-wrapper'>
            <li>
                <a href="/">Blog</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/newsletter">Newsletter</a>
            </li>
            <% if(email){ %>
            <li>
                <a href="/blogs/new">New Post</a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>
            <% } %>
        </ul>

        <button class="burger" type="button" aria-label="Open menu" aria-expanded="false" aria-controls="mobile-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>

    <div class="mobile-menu" id="mobile-menu">
        <button class="close-btn" type="button" aria-label="Close menu">
            <span></span>
            <span></span>
        </button>
        <a href="/">Blog</a>
        <a href="/projects">Projects</a>
        <a href="/about">About</a>
        <a href="/newsletter">Newsletter</a>
        <% if(email){ %>
        <a href="/blogs/new">New Post</a>
        <a href="/logout">Log Out</a>
        <% } %>
    </div>
</header>

<script src="/javascripts/header.js"></script>
