<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Blog | New Post</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/new-post.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap"
          rel="stylesheet">
</head>
<body>
<%- include('partials/header',{email}) %>


<section class="new-post-container container">
    <div class="new-post-title">
        <h1>New Post</h1>
    </div>

    <form action="/blogs/new" method="POST" enctype="multipart/form-data" class="new-post-form">
        <input id="blog-title" type="text" name="title" placeholder="Blog Title" required>
        <input id="description" type="text" name="description" placeholder="Description" required>
        <textarea id="message" name="message" rows="8" placeholder="Message" required></textarea>
        <label for="blog-image" class="thumbnail-label">Thumbnail</label>
        <input id="blog-image" type="file" name="thumbnail" accept="image/*">
        <button type="submit">Send Message</button>
    </form>
</section>


<%- include('partials/footer')%>
</body>
</html>