<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/header.css">
    <link rel="stylesheet" href="./stylesheets/register.css">
</head>
<body>
<%- include('partials/header') %>


</body>
</html>